<footer class="bg-gray-900 py-6 md:py-12">
  <div class="container mx-auto px-12">
    <div class="flex flex-col md:flex-row items-center justify-between gap-4 md:gap-0">
      <h2 class="text-right text-2xl lg:text-4xl font-heading text-gray-200 font-extralight uppercase relative tracking-wider">
        <span class="font-normal">Design</span><br>Pipa
      </h2>
      <div class="text-gray-200 text-center md:text-right flex flex-col gap-2 md:gap-4">
        <a href="tel:{{site.data.settings.general.phone}}"
          class="font-heading text-normal">{{site.data.settings.general.phone}}</a>
        <a href="mailto:{{site.data.settings.general.email}}"
          class="font-heading text-normal">{{site.data.settings.general.email}}</a>
        <div class="flex gap-4">
          {% for social in site.data.settings.general.social %}
          <a href="{{social.url}}" rel="noopener noreferrer" class="bg-gray-400 rounded-full overflow-hidden h-12 w-12 p-3">{%
            include social-icons.html icon=social.channel fill="#f2f2f2"%}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</footer>